<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='css/bootstrap-fluid-adj.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" rel="stylesheet">

        <title>LaTeX API demo</title>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
           <div class="navbar-inner">
               <div class="container">
                   <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>

                   <div class="nav-collapse collapse">
                       <ul class="nav pull-right">

                       </ul>
                       <ul class="nav">

                       </ul>
                   </div>
                   <!--/.nav-collapse -->
               </div>
           </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <!--- Empty for the timebeing -->
                    </div>
                    <!--/.well -->
                </div>
                <!--/span-->
                <div class="span9">

                    <form action="/" method="post">
                        <input type="text" name="snip_uri"/>
                        <input type="submit" class="wl-submit" value="Open in writeLaTeX" /> <br />
                        <input type="checkbox" name="splash" value="none" />For testing: Never show help splash.
                    </form>

                    <iframe src="{{ data }}" width="900" height="600"></iframe>

                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/.fluid-container-->

        <hr>

        <footer>
            <div class="container">

            </div>
        </footer>

        <script src="{{ url_for('static', filename='js/jquery-2.0.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
